//Tipografía
$font: 'Inter', sans-serif;

//Colores
$color-primary: #69B99D;   //Boton principal
$color-secondary:#89C5CC;  //Titulo hero section
$color-black:#000000;     //Titulo / texto
$color-grey:#7D7987;     //Texto navegacion / descripciones
$color-white:     #FFFFFF;

//Contenedor
$container-max: 1280px;
$container-padding: 120px;

//Borde
$radius-sm: 4px;

//Responsive
$tablet-breakpoint: 1023px;
$movil-breakpoint: 767px;